# Binning dengan ketentuan sendiri

In [ ]:
from sklearn.pipeline import Pipeline
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('datasetgaji.csv', sep=',')
data.head(6)

             Nama Status Rumah  Gaji Orang Tua  Keterangan
0      aldi taher      Kontrak         2100000         NaN
1          kekeyi        Milik         4000000         NaN
2   rangga sasana      Kontrak         1400000         NaN
3  vicky prasetyo      Kontrak          700000         NaN
4            Zuko        Milik          650000         NaN
5           dyrga      Kontrak          450000         NaN

In [ ]:
batas_bin = [0, 1400000, 4000000]

In [ ]:
kategori = ['Kecil','Besar']

In [ ]:
data['gaji_binned_1'] = pd.cut(data['Gaji Orang Tua'], bins=batas_bin, labels=kategori)

In [ ]:
print(data)

             Nama Status Rumah  Gaji Orang Tua  Keterangan gaji_binned_1
0      aldi taher      Kontrak         2100000         NaN         Besar
1          kekeyi        Milik         4000000         NaN         Besar
2   rangga sasana      Kontrak         1400000         NaN         Kecil
3  vicky prasetyo      Kontrak          700000         NaN         Kecil
4            Zuko        Milik          650000         NaN         Kecil
5           dyrga      Kontrak          450000         NaN         Kecil

# Binning dengan linspace

In [ ]:
bins = np.linspace(min(data['Gaji Orang Tua']), max(data['Gaji Orang Tua']), 3)

In [ ]:
print(bins)

[ 450000. 2225000. 4000000.]

In [ ]:
kategori = ['Kecil','Besar']

In [ ]:
data['gaji_binned2'] = pd.cut(data['Gaji Orang Tua'], bins=bins, labels=kategori, include_lowest=True)

In [ ]:
print (data)

             Nama Status Rumah  Gaji Orang Tua  Keterangan gaji_binned_1  \
0      aldi taher      Kontrak         2100000         NaN         Besar
1          kekeyi        Milik         4000000         NaN         Besar
2   rangga sasana      Kontrak         1400000         NaN         Kecil
3  vicky prasetyo      Kontrak          700000         NaN         Kecil
4            Zuko        Milik          650000         NaN         Kecil
5           dyrga      Kontrak          450000         NaN         Kecil

  gaji_binned2
0        Kecil
1        Besar
2        Kecil
3        Kecil
4        Kecil
5        Kecil

# Binning dengan Quantile

In [ ]:
data['Gaji_binned3'] = pd.qcut(data['Gaji Orang Tua'], 2)
print (data)

             Nama Status Rumah  Gaji Orang Tua  Keterangan  \
0      aldi taher      Kontrak         2100000         NaN
1          kekeyi        Milik         4000000         NaN
2   rangga sasana      Kontrak         1400000         NaN
3  vicky prasetyo      Kontrak          700000         NaN
4            Zuko        Milik          650000         NaN
5           dyrga      Kontrak          450000         NaN

              Gaji_binned3
0   (1050000.0, 4000000.0]
1   (1050000.0, 4000000.0]
2   (1050000.0, 4000000.0]
3  (449999.999, 1050000.0]
4  (449999.999, 1050000.0]
5  (449999.999, 1050000.0]

In [ ]:
kategori = ['Kecil','Besar']
data['Gaji_binned3'] = pd.qcut(data['Gaji Orang Tua'], q=2, labels=kategori)
print (data)

             Nama Status Rumah  Gaji Orang Tua  Keterangan Gaji_binned3
0      aldi taher      Kontrak         2100000         NaN        Besar
1          kekeyi        Milik         4000000         NaN        Besar
2   rangga sasana      Kontrak         1400000         NaN        Besar
3  vicky prasetyo      Kontrak          700000         NaN        Kecil
4            Zuko        Milik          650000         NaN        Kecil
5           dyrga      Kontrak          450000         NaN        Kecil