In [ ]:
from textblob import TextBlob

comment1 = "I really love the hotel, it so comfortable to stay at it."
comment2 = "The hotel is not that good. It is so expensive, but not that comfy."

blob1 = TextBlob(comment1)
blob2 = TextBlob(comment2)

print(blob1.sentiment)
print(blob2.sentiment)

In [1]:
from textblob import TextBlob

comment = "The food at the Sederhana restaurant is extremely delicious."

blob = TextBlob(comment)

print(blob.sentiment)

Sentiment(polarity=1.0, subjectivity=1.0)

In [27]:
import pandas as pd

data=pd.read_csv('train.csv')

data.shape
data.head(3)

,User_ID,Description,Browser_Used,Device_Used,Is_Response
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy

In [28]:
data.tail(3)

,User_ID,Description,Browser_Used,Device_Used,Is_Response
38929,id49255,Traveling with friends for shopping and a show...,Firefox,Mobile,not happy
38930,id49256,The experience was just ok. We paid extra for ...,Chrome,Desktop,not happy
38931,id49257,The Westin is a wonderfully restored grande da...,Mozilla,Desktop,happy

In [29]:
data.sample(5)

,User_ID,Description,Browser_Used,Device_Used,Is_Response
32965,id43291,We got an amazing rate on booking.com I would ...,Firefox,Tablet,happy
14524,id24850,I made last minute reservation and couldnt fin...,Edge,Desktop,not happy
590,id10916,We stayed - nights at this hotel. We felt safe...,IE,Mobile,happy
17330,id27656,Stayed at the Palmer House for Girlfriend Geta...,Firefox,Mobile,happy
18528,id28854,Awful trip. Booked two rooms for - adults on a...,Edge,Mobile,not happy

In [30]:
data.describe()

,User_ID,Description,Browser_Used,Device_Used,Is_Response
count,38932,38932,38932,38932,38932
unique,38932,38932,11,3,2
top,id44428,My husband and I stayed for two nights at the ...,Firefox,Desktop,happy
freq,1,1,7367,15026,26521

In [31]:
data.columns

Index(['User_ID', 'Description', 'Browser_Used', 'Device_Used', 'Is_Response'], dtype='object')

In [32]:
data['Is_Response'].value_counts()

happy        26521
not happy    12411
Name: Is_Response, dtype: int64

In [33]:
data['Is_Response']=data['Is_Response'].map({'happy':'baik','not happy':'buruk'})

In [34]:
data['Is_Response'].value_counts()

baik     26521
buruk    12411
Name: Is_Response, dtype: int64

In [35]:
from sklearn.model_selection import train_test_split

In [38]:
x = data.Description
y = data.Is_Response

In [39]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.1, random_state=225)

In [40]:
print('Banyak data x_train= ', len(x_train))
print('Banyak data x_test= ', len(x_test))
print('Banyak data y_train= ', len(y_train))
print('Banyak data y_test= ', len(y_test))

Banyak data x_train=  35038
Banyak data x_test=  3894
Banyak data y_train=  35038
Banyak data y_test=  3894

In [41]:
import re

from bs4 import BeautifulSoup
from nltk.tokenize import WordPunctTokenizer

tok = WordPunctTokenizer()
pat1 = r'@[A-Za-z0-9_]+' #menghilangkan username jika twitter
pat2 = r'https?://[^ ]+' #menghilangkan situs website
combined_pat = r'|'.join((pat1,pat2)) #join pat1 dan pat2
www_pat = r'www.[^ ]+' #menghilangkan situs website

#set_stopword yg dideskripsikan sendiri
stopword_user = set(pd.read_csv('stopword_usr.txt', sep='\n', header=0).stopword)

FileNotFoundError: [Errno 2] File stopword_usr.txt does not exist: 'stopword_usr.txt'